<!DOCTYPE html>
<html>
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="shortcut icon" href="../../../static/img/favicon.ico">
    <link href="../../../static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../../../static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../../../static/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="../../../static/css/style.css?v=4.1.0" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/js/layer/theme/default/layer.css">
    <link rel="stylesheet" href="../../../static/js/fixed-columns/css/bootstrap-table-fixed-columns.css">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-11">
                    <div class="form-group" style="width: 15%; float: left;">
                        <label class="sr-only">账号</label>
                        <input type="text" placeholder="请输入账号" id="userId" class="form-control">
                    </div>
                    <div class="form-group" style="width: 15%; float: left;">
                        <label class="sr-only">审核状态</label>
                        <select id="approvalStatus" class="form-control">
                            <option value="">全部</option>
                            <option value="4">审批中</option>
                            <option value="5">通过</option>
                            <option value="6">拒绝</option>
                        </select>
                    </div>
                    <div class="input-group">
                         <span class="input-group-btn"><button type="button" class="btn btn-primary" id="btn_query">搜索</button></span>
                    </div>
                </div>
                <input type="hidden" id="lastId" value="0">
                <input type="hidden" id="pageIndex" value="1">
                <div class="col-sm-12">
                    <div class="example-wrap">
                        <div class="example">
                            <div class="bootstrap-table">
                                <div class="fixed-table-toolbar">
                                    <div class="bars pull-left">
                                        <!--<div class="btn-group hidden-xs" id="toolbar" role="group">-->
                                            <!--<a class="btn btn-outline btn-default" href="javascript:auditFundWithdraw('Add','0')"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i>新增</a>-->
                                            <!--<a class="btn btn-outline btn-default" href="javascript:del_ck_confirm('tb_departments','/v1/http/dictype/delete')"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i>删除</a>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <table id="tb_departments"></table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>
<script src="../../../static/js/jquery.min.js?v=2.1.4"></script>
<script src="../../../static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="../../../static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../../static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="../../../static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../../../static/js/fixed-columns/js/bootstrap-table-fixed-columns.js"></script>
<script src="../../../static/js/layer/layer.js"></script>
<script src="../../../static/js/LayerTool.js"></script>
</body>
</html>
<script type="text/javascript">
    var oTable;
    $(function () {

        //1.初始化DataTables
        oTable = new TableInit();
        oTable.Init();

        //2、初始化分页按钮
        var oButtonInit = new ButtonInit();
        oButtonInit.Init();

        //搜索事件
        $("#btn_query").click(function () {
            $('#tb_departments').bootstrapTable('destroy');
            oTable.Init();
        });

        //选择币种事件
        $("#assetSelect").change(function () {
            $('#tb_departments').bootstrapTable('destroy');
            oTable.Init();
        });

    });





    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
                    $('#tb_departments').bootstrapTable({
                         url: '/v1/http/dem/dem_list',//+param,         //请求后台的URL（*）
                        method: 'get',                      //请求方式（*）
                        //toolbar: '#toolbar',                //工具按钮用哪个容器
                        //striped: true,                      //是否显示行间隔色
                        //cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                        pagination: true,                   //是否显示分页（*）
                        //sortable: true,                     //是否启用排序
                        //sortOrder: "asc",                   //排序方式
                        queryParams: oTableInit.queryParams,//传递参数（*）
                        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                        pageNumber: 1,                       //初始化加载第一页，默认第一页
                        pageSize: 10,                       //每页的记录行数（*）
                        pageList: [10, 20, 50, 100],        //可供选择的每页的行数（*）
                        //search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                        //strictSearch: true,
                        //showColumns: true,                  //是否显示所有的列
                        showRefresh: true,                  //是否显示刷新按钮
                        //minimumCountColumns: 2,             //最少允许的列数
                        //clickToSelect: false,               //是否启用点击选中行
                        //singleSelect:false,
                        //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                        uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                        //showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                        //cardView: false,                    //是否显示详细视图
                        //detailView: false,                   //是否显示父子表
                        fixedColumns: true,
                        fixedNumber: 1,
                        columns: [
                            {
                                checkbox: true
                            },
                           /* {
                                title: 'id',
                                field: 'id'
                            },*/
                            {
                                title: '账户Id',
                                field: 'userId'
                            } ,
                            {
                                title: '用户名',
                                field: 'userName'
                            } ,
                            {
                                title: '订单号',
                                field: 'sn'
                            },
/*                            {
                                title: '支付币种',
                                field: 'payCurrency'
                            },*/
/*                            {
                                title: '兑换币种',
                                field: 'exchangeCurrency'
                            },*/

                            {
                                title: '资金账户可用余额USDT',
                                field: 'fundAccountAvailable'
                            },
                            {
                                title: '汇率',
                                field: 'price'
                            },
                            {
                                title: '数量USDT',
                                field: 'volume'
                            },
                            {
                                title: '总额CNY',
                                field: 'amount'
                            },
                           /* {
                                title: '类型',
                                //field: 'type' // 1 买入，-1 卖出
                                formatter: function (value, row, index) {
                                    if(row.type==1) {
                                        return "买入";
                                    }else if(row.type==-1){
                                        return "卖出";
                                    }
                                    return "";
                                }
                            } ,*/
                            {
                                title: '审批状态',
                                //审批状态(4:审批中 5:审批通过:6:拒绝)
                                // field: 'approvalStatus'
                                formatter: function (value, row, index) {
                                    if(row.approvalStatus==4) {
                                        return "审批中";
                                    }else if(row.approvalStatus==5) {
                                        return "审核通过";
                                    }else if(row.approvalStatus==6){
                                        return "拒绝";
                                    }
                                    return "";
                                }
                            },
                            {
                                title: '创建时间',
                                formatter: function (value, row, index) {
                                    if(row.created!=null)
                                        return time(parseInt(row.created));
                                    return"";
                                }
                            },
                            {
                                title: '修改时间',
                                formatter: function (value, row, index) {
                                    if(row.modified!=null)
                                        return time(parseInt(row.modified));
                                    return"";
                                }
                            },
                            {
                                title: '操作', field: '#', align: 'center',
                                formatter: function (value, row, index) {
                                    if(row.type == -1)
                                    {
                                        var d = " ";//审批状态(4:审批中 5:审批通过:6:拒绝)
                                        if(row.approvalStatus==4) {//4:审批中
                                            d+="&nbsp;<input type=\"button\" value=\"通过\"  onclick=\"auditPassC2c('5','"+row.id+"')\"> ";
                                            d+="&nbsp;<input type=\"button\" value=\"拒绝\" onclick=\"auditFailC2c('6','"+row.id+"')\">";
                                            /*}else if(row.approvalStatus==6){//审核通过
                                            d+="&nbsp;<input type=\"button\" value=\"通过\"  onclick=\"auditPassC2c('5','"+row.id+"')\"> ";
                                        }else if(row.approvalStatus==5){*/
                                            //d+="&nbsp;<input type=\"button\" value=\"通过\"  disabled=\"disabled\" onclick=\"auditPassC2c('5','"+row.id+"')\"> ";
                                            //d+="&nbsp;<input type=\"button\" value=\"拒绝\" disabled=\"disabled\"  onclick=\"auditFailC2c('6','"+row.id+"')\">";
                                        }
                                        d+="&nbsp;&nbsp;<a href=\"javascript:auditBankCard('Edit','"+row.userId+"')\">查看详细</a>";
         /*                               d+="<a href=\"javascript:auditPassC2c('5','"+row.id+"')\">通过</a>";
                                        d+="&nbsp;<input type=\"button\" value=\"不通过\" onclick=\"auditFailC2c('6','"+row.id+"')\" id=\"upbtn\"> ";//<a id=\"updiv\" href=\"javascript:auditFailC2c('6','"+row.id+"')\">不通过</a>
                                        d+="&nbsp;&nbsp;<a href=\"javascript:auditBankCard('Edit','"+row.userId+"')\">查看详细</a>";*/
                                        return d;
                                    }
                                    return "";
                                }
                            }],
                        responseHandler:function(res) {
                            return res.data;
                        }
                    });
        };
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                user_Id:$("#userId").val(), //账户Id
                approval_status:$("#approvalStatus").val(), //币种
                page_size: params.limit,   //页面大小 每页显示多少条记录
                current_page: params.offset==0?1:(params.offset/params.limit)+1  //页码 当前第几页
            };
            return temp;
        };
        return oTableInit;
    };

    //分页按钮
    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};
        oInit.Init = function () {
            //初始化页面上面的按钮事件
        };
        return oInit;
    };

    $('#tb_departments').on('load-success.bs.table', function (e) {
        //debugger;
        //alert("1213");
        $(".fixed-table-loading").attr("style","display:none");//不知道什么鬼原因  反正先加载时候先去掉
        // ...
    });

    $('#tb_departments').on('page-change.bs.table', function (number,size) {

    });

    function GetQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);  //获取url中"?"符后的字符串并正则匹配
        var context = "";
        if (r != null)
            context = r[2];
        reg = null;
        r = null;
        return context == null || context == "" || context == "undefined" ? "" : context;
    }//获取连接中的参数


</script>




