<!DOCTYPE html>
<html>
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="shortcut icon" href="../../../static/img/favicon.ico">
    <link href="../../../static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../../../static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../../../static/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="../../../static/css/style.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-11">
                    <div class="form-group" style="width: 15%; float: left;">
                        <label class="sr-only">年份</label>
                        <select class="form-control" id="year">
                            <option value="2019" selected="selected">2019</option>
                        </select>
                    </div>
                    <div class="form-group" style="width: 15%; float: left;">
                        <label class="sr-only">币种</label>
                        <select class="form-control" id="asset">
                        </select>
                    </div>
                    <div class="form-group" style="width: 15%; float: left;">
                        <label class="sr-only">标的符号</label>
                        <select class="form-control" id="symbol">
                        </select>
                    </div>
                    <div class="input-group">

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" id="btn_query">搜索</button>
                                </span>
                    </div>
                </div>
                <div class="col-sm-12">

                    <div class="example-wrap">
                        <div class="example">
                            <div class="bootstrap-table">
                                <div class="fixed-table-toolbar">
                                    <div class="bars pull-left">
                                        <div class="btn-group hidden-xs" id="toolbar" role="group">

                                            <!--<a class="btn btn-outline btn-default" href="javascript:addCatalogEvent('Add','0')"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i>新增</a>-->
                                            <!--<a class="btn btn-outline btn-default" href="javascript:del_ck_confirm('tb_departments','/v1/http/dictype/delete')"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i>删除</a>-->
                                        </div>
                                    </div>
                                </div>
                                <table id="tb_departments"></table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>
<script src="../../../static/js/jquery.min.js?v=2.1.4"></script>
<script src="../../../static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="../../../static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../../static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="../../../static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../../../static/js/plugins/layer/layer.min.js"></script>
<script src="../../../static/js/LayerTool.js"></script>
</body>
</html>
<script type="text/javascript">
    var oTable;
    $(function () {
        //1.初始化Table
        oTable = new TableInit();
        oTable.Init();

        $("#btn_query").click(function () {
            $('#tb_departments').bootstrapTable('destroy');
            oTable.Init();
        });
        $("#symbol").change(function () {
            $('#tb_departments').bootstrapTable('destroy');
            oTable.Init();
        });
        $("#asset").change(function () {
            $('#tb_departments').bootstrapTable('destroy');
            oTable.Init();
        });
        bindSymbol("symbol",true);
        bindAsset("asset",true);
    });
    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
                    $('#tb_departments').bootstrapTable({
                         url: '/v1/http/pcindexprice/query_list',//+param,         //请求后台的URL（*）
                         method: 'get',                      //请求方式（*）
                        //toolbar: '#toolbar',                //工具按钮用哪个容器
                        //striped: true,                      //是否显示行间隔色
                        //cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                        pagination: true,                   //是否显示分页（*）
                        //sortable: true,                     //是否启用排序
                        //sortOrder: "asc",                   //排序方式
                        queryParams: oTableInit.queryParams,//传递参数（*）
                        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                        pageNumber: 1,                       //初始化加载第一页，默认第一页
                        pageSize: 10,                       //每页的记录行数（*）
                        pageList: [10, 20, 50, 100],        //可供选择的每页的行数（*）
                        //search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                        //strictSearch: true,
                        //showColumns: true,                  //是否显示所有的列
                        showRefresh: true,                  //是否显示刷新按钮
                        //minimumCountColumns: 2,             //最少允许的列数
                        //clickToSelect: false,               //是否启用点击选中行
                        //singleSelect:false,
                        //height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                        uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                        //showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                        //cardView: false,                    //是否显示详细视图
                        detailView: true,                   //是否显示父子表
                        columns: [
                            {
                                checkbox: true
                            }
                            , {
                                title: '币种',
                                field: 'asset'
                            }, {
                                title: '交易对',
                                field: 'symbol'
                            }, {
                                title: '价格',
                                field: 'price'
                            }
                            // , {
                            //     title: '源数据',
                            //     field: 'source_value'
                            // }
                            , {
                                title: '创建时间',
                                formatter: function (value, row, index) {
                                    if(row.ctime!=null)
                                        return time(parseInt(row.ctime));
                                    return"";
                                }
                            }, {
                                title: '修改时间',
                                formatter: function (value, row, index) {
                                    if(row.mtime!=null)
                                        return time(parseInt(row.mtime));
                                    return"";
                                }
                            }
                            // ,
                            // {
                            //     title: '操作', field: '#', align: 'center',
                            //     formatter: function (value, row, index) {
                            //         var d = "<a href=\"javascript:addCatalogEvent('Edit'," + row.id + ")\">修改</a>";
                            //         return d;
                            //     }
                            // }
                            ],
                        responseHandler:function(res) {
                            return res.data;
                        }
                        , onExpandRow: function (index, row, $detail) {
                             var data=JSON.parse(row.source_value)
                            // alert(data);
                            var prjLogBookProblemTable = $detail.html('<table></table>').find('table');
                            var columns= [
                                {
                                    title: 'id',
                                    field: 'id'
                                },
                                {
                                    title: '交易所名称',
                                    field: 'expName'
                                }, {
                                    title: '交易对',
                                    field: 'symbol'
                                }, {
                                    title: '价格',
                                    field: 'last'
                                }
                                , {
                                    title: '行情时间',
                                    formatter: function (value, row, index) {
                                        if(row.tickerTime!=null)
                                            return time(parseInt(row.tickerTime));
                                        return"";
                                    }
                                }
                                , {
                                    title: '创建时间',
                                    formatter: function (value, row, index) {
                                        if(row.ctime!=null)
                                            return time(parseInt(row.ctime));
                                        return"";
                                    }
                                }
                                , {
                                    title: '修改时间',
                                    formatter: function (value, row, index) {
                                        if(row.mtime!=null)
                                            return time(parseInt(row.mtime));
                                        return"";
                                    }
                                }
                                ];
                            $(prjLogBookProblemTable).bootstrapTable({
                                columns:columns,
                                data:data,
                                detailView: true,                   //是否显示父子表
                                onExpandRow: function (index, row, $detail) {
                                    var i; var j; var row
                                    var columns = []
                                    var data = []

                                    for (i = 0; i < 8; i++) {
                                        columns.push({
                                            field: 'field' + i,
                                            title: 'Cell' + i,
                                            //sortable: true
                                        })
                                    }
                                    for (i = 0; i < 8; i++) {
                                        row = {}
                                        for (j = 0; j < 8; j++) {
                                            row['field' + j] = 'Row-' + i + '-' + j
                                        }
                                        data.push(row)
                                    }
                                    console.log(columns);
                                    console.log(data)
                                    console.log($detail);
                                    var table3 = $detail.html('<table></table>').find('table');
                                    $(table3).bootstrapTable({
                                        columns:columns,
                                        data:data
                                    })
                                    var table4= $detail.html('<table></table>').find('table');
                                    $(table4).bootstrapTable({
                                        columns:columns,
                                        data:data
                                    })
                                }
                            })
                        }
                    });




        };
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                page_size: params.limit,   //页面大小
                current_page: params.offset==0?1:(params.offset/params.limit)+1,  //页码
                asset: $("#asset").val(),
                symbol: $("#symbol").val(),
                year:$("#year").val()
            };
            //console.log(temp);
            return temp;
        };
        return oTableInit;
    };

</script>




