<!DOCTYPE html>
<html>
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link rel="shortcut icon" href="../../../static/img/favicon.ico">
    <link href="../../../static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../../../static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../../../static/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="../../../static/css/style.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="row row-lg">
                <div class="col-sm-11">
                    <div class="form-group" style="width: 15%; float: left;">
                        <label class="sr-only">币种</label>
                        <select class="form-control" id="asset">
                        </select>
                    </div>
                    <div class="form-group" style="width: 15%; float: left;">
                        <label class="sr-only">交易对</label>
                        <select class="form-control" id="symbol">
                        </select>
                    </div>
                    <div class="input-group">

                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary" id="btn_query">搜索</button>
                                </span>
                    </div>
                </div>
                <div class="col-sm-12">

                    <div class="example-wrap">
                        <div class="example">
                            <div class="bootstrap-table">
                                <div class="fixed-table-toolbar">
                                    <div class="bars pull-left">
                                        <div class="btn-group hidden-xs" id="toolbar" role="group">

                                            <a class="btn btn-outline btn-default"
                                               href="javascript:addCatalogEvent('Add','0')"><i
                                                    class="glyphicon glyphicon-plus" aria-hidden="true"></i>新增</a>
                                            <a class="btn btn-outline btn-default"
                                               href="javascript:del_ck_confirm('tb_departments','/v1/http/bbSymbol/delete')"><i
                                                    class="glyphicon glyphicon-trash" aria-hidden="true"></i>删除</a>
                                        </div>
                                    </div>
                                </div>
                                <table id="tb_departments"></table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- End Example Events -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Panel Other -->
</div>
<script src="../../../static/js/jquery.min.js?v=2.1.4"></script>
<script src="../../../static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="../../../static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../../../static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
<script src="../../../static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../../../static/js/plugins/layer/layer.min.js"></script>
<script src="../../../static/js/LayerTool.js"></script>
</body>
</html>
<script type="text/javascript">
    var oTable;
    $(function () {
        //1.初始化Table
        oTable = new TableInit();
        oTable.Init();

        bindAsset("asset", true);

        bindAssetBbSymbol("symbol", $("#asset").val(), true);

        $("#btn_query").click(function () {
            $('#tb_departments').bootstrapTable('destroy');
            oTable.Init();
        });
        $("#asset").change(function () {
            $('#tb_departments').bootstrapTable('destroy');
            oTable.Init();
        });
        $("#symbol").change(function () {
            $('#tb_departments').bootstrapTable('destroy');
            oTable.Init();
        });

        $("#asset").change(function () {
            $("#symbol").empty();
            bindAssetBbSymbol("symbol", $("#asset").val(), true);
        })
    });

    var addCatalogEvent = function (action, id) {
        var text = "添加BB交易对"
        url = "/sys/symbol/edit.html?id=" + id + "&action=" + action + "";
        parent.layer.open({
            type: 2,
            title: text,
            shadeClose: true,
            shade: 0.8,
            area: ['800px', '65%'],
            content: url,
            success: function (layero, index) {

            },
            end: function () {
                $('#tb_departments').bootstrapTable('destroy');
                oTable.Init();
            }
        });
    }


    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_departments').bootstrapTable({
                url: '/v1/http/bbSymbol/query_list',//+param,         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                pagination: true,                   //是否显示分页（*）
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 20, 50, 100],        //可供选择的每页的行数（*）
                showRefresh: true,                  //是否显示刷新按钮
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                columns: [
                    {
                        checkbox: true
                    }
                    , {
                        title: '币种',
                        field: 'asset'
                    },
                    {
                        title: '货币对',
                        field: 'symbol'
                    },
                    {
                        title: '币币名称',
                        field: 'bbSymbol_name'
                    },
                    {
                        title: '名称分隔符',
                        field: 'bbSymbol_name_split'
                    },
                    {
                        title: '分组',
                        field: 'bb_group_id'
                    },
                    {
                        title: '币币展示名',
                        field: 'display_name'
                    },
                    {
                        title: '展示名分隔符',
                        field: 'display_name_split'
                    },
                    {
                        title: '价格精度',
                        field: 'precision'
                    },
                    {
                        title: '数量精度',
                        field: 'number_precision'
                    },
                    {
                        title: '步长',
                        field: 'step'
                    },
                    {
                        title: '顺序',
                        field: 'sort'
                    },
/*                    {
                        title: '币币的类型',
                        field: 'bbSymbol_type'
                    },
                    {
                        title: '面值计价货币',
                        field: 'quote_currency'
                    },
                    {
                        title: '基础货币',
                        field: 'base_currency'
                    }, {
                        title: '结算货币',
                        field: 'settle_currency'
                    },
                    {
                        title: '面值',
                        field: 'face_value'
                    },
                    {
                        title: '面值货币',
                        field: 'face_currency'
                    },
                    {
                        title: '权限',
                        field: 'privilege'
                    },*/
                    {
                        title: '是否启用',
                        formatter: function (value, row, index) {
                            if (row.status == "1")
                                return "是";
                            else
                                return "否";
                        }
                    },
                    {
                        title: '操作', field: '#', align: 'center',
                        formatter: function (value, row, index) {
                            var d = "<a href=\"javascript:addCatalogEvent('Edit'," + row.id + ")\">修改</a>";
                            return d;
                        }
                    }],
                responseHandler: function (res) {
                    return res.data;
                }
            });


        };
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                page_size: params.limit,   //页面大小
                current_page: params.offset == 0 ? 1 : (params.offset / params.limit) + 1,  //页码
                symbol: $("#symbol").val(),
                asset: $("#asset").val()
            };
            return temp;
        };
        return oTableInit;
    };
    $('#tb_departments').on('page-change.bs.table', function (number, size) {

        oTable.Init(size, 10);
        // ...
    });

    $('#tb_departments').on('load-success.bs.table', function (e) {
        //$(".fixed-table-loading").attr("style","display:none");//不知道什么鬼原因  反正先加载时候先去掉
    });


</script>




